<a href="https://colab.research.google.com/github/natanascimento/big-data-analysis/blob/task%2Fcreate-notebooks/%5BBig_Data%5D_Quero_Empr%C3%A9stimo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Instalando dependências

In [25]:
!pip install pandasql

Requirement already satisfied: pandasql in /usr/local/lib/python3.7/dist-packages (0.7.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.32)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.21.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.11.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.7.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.10.0.2)

# Análise Exploratória

## Importação de dependências

In [ ]:
import warnings

import pandas as pd
from pandasql import sqldf

In [ ]:
# Filtrando tipos de avisos para serem ignorados

warnings.filterwarnings("ignore", category=DeprecationWarning)
warnings.filterwarnings("ignore", category=UserWarning)
warnings.filterwarnings("ignore", category=FutureWarning)

## Carregando dataset do datalake

In [ ]:
raw_data_url = "https://raw.githubusercontent.com/natanascimento/big-data-analysis/main/credit-risk/datalake/raw/rw_credit.csv"

In [ ]:
dataset = pd.read_csv(raw_data_url, sep=";", encoding="cp1252")

## Dicionário de dados

In [ ]:
columns_desc = [["CHEQUEESPECIAL", "Valor que o cliente possui em cheque especial. 0 <= x < 200 indica entre 1 e 199 reais, por exemplo"], 
                ["USO_CREDITO" , "Tempo, em meses, que o cliente usa o crédito"], 
                ["HISTORICO_CREDITO", "Observação do histórico de crédito"], 
                ["PROPOSITO", "Propósito do empréstimo"], 
                ["BALANCO_ATUAL", "Saldo do cliente"], 
                ["BALANCO_MEDIO_CREDITO", "Bônus que o cliente possui (R$)"], 
                ["EMPREGADO", "Quantidade de anos que o cliente está empregado"], 
                ["LOCAL", "Código da localização do cliente"], 
                ["ESTADOCIVIL", "Estado civil do cliente"], 
                ["OUTRASFUNCOES", "Outras funções do crédito"], 
                ["RESIDENCIADESDE", "Há quantos anos o cliente possui residência fixa"], 
                ["TIPOSBENS", "Tipos de bens"], 
                ["IDADE", "Idade"], 
                ["OUTROSPLANOSPGTO", "Outros planos de pagamento"], 
                ["RESIDENCIA", "Qual é a forma de residência"], 
                ["CREDITOSEXISTENTES", "Quantidade de contratos que o cliente possui"], 
                ["EMPREGO", "Modalidade de emprego que o cliente se enquadra"], 
                ["DEPENDENTES", "Número de dependentes"], 
                ["TRABAESTRANGEIRO", "Indicativo se o cliente trabalha em empresa estrangeira"], 
                ["CLASSE", "Classificação do cliente (segundo especialista): Bom ou Ruim"]]

In [ ]:
data_dict = pd.DataFrame(columns_desc, columns=["variável", "descrição"])

In [ ]:
data_dict

                 variável                                          descrição
0          CHEQUEESPECIAL  Valor que o cliente possui em cheque especial....
1             USO_CREDITO       Tempo, em meses, que o cliente usa o crédito
2       HISTORICO_CREDITO                 Observação do histórico de crédito
3               PROPOSITO                            Propósito do empréstimo
4           BALANCO_ATUAL                                   Saldo do cliente
5   BALANCO_MEDIO_CREDITO                    Bônus que o cliente possui (R$)
6               EMPREGADO    Quantidade de anos que o cliente está empregado
7                   LOCAL                   Código da localização do cliente
8             ESTADOCIVIL                            Estado civil do cliente
9           OUTRASFUNCOES                          Outras funções do crédito
10        RESIDENCIADESDE   Há quantos anos o cliente possui residência fixa
11              TIPOSBENS                                      Tipos de bens
12                  IDADE                                              Idade
13       OUTROSPLANOSPGTO                         Outros planos de pagamento
14             RESIDENCIA                       Qual é a forma de residência
15     CREDITOSEXISTENTES       Quantidade de contratos que o cliente possui
16                EMPREGO    Modalidade de emprego que o cliente se enquadra
17            DEPENDENTES                              Número de dependentes
18       TRABAESTRANGEIRO  Indicativo se o cliente trabalha em empresa es...
19                 CLASSE  Classificação do cliente (segundo especialista...

## Creating train and test datasets

In [ ]:
train_dataset = dataset[:80]

In [ ]:
test_dataset = dataset[80:]

In [ ]:
dataset.count()

CHEQUEESPECIAL           1000
USO_CREDITO              1000
HISTORICO_CREDITO        1000
PROPOSITO                1000
BALANCO_ATUAL            1000
BALANCO_MEDIO_CREDITO    1000
EMPREGADO                1000
LOCAL                    1000
ESTADOCIVIL              1000
OUTRASFUNCOES            1000
RESIDENCIADESDE          1000
TIPOSBENS                1000
IDADE                    1000
OUTROSPLANOSPGTO         1000
RESIDENCIA               1000
CREDITOSEXISTENTES       1000
EMPREGO                  1000
DEPENDENTES              1000
TRABAESTRANGEIRO         1000
CLASSE                   1000
dtype: int64

In [ ]:
train_dataset.count()

CHEQUEESPECIAL           80
USO_CREDITO              80
HISTORICO_CREDITO        80
PROPOSITO                80
BALANCO_ATUAL            80
BALANCO_MEDIO_CREDITO    80
EMPREGADO                80
LOCAL                    80
ESTADOCIVIL              80
OUTRASFUNCOES            80
RESIDENCIADESDE          80
TIPOSBENS                80
IDADE                    80
OUTROSPLANOSPGTO         80
RESIDENCIA               80
CREDITOSEXISTENTES       80
EMPREGO                  80
DEPENDENTES              80
TRABAESTRANGEIRO         80
CLASSE                   80
dtype: int64

In [ ]:
test_dataset.count()

CHEQUEESPECIAL           920
USO_CREDITO              920
HISTORICO_CREDITO        920
PROPOSITO                920
BALANCO_ATUAL            920
BALANCO_MEDIO_CREDITO    920
EMPREGADO                920
LOCAL                    920
ESTADOCIVIL              920
OUTRASFUNCOES            920
RESIDENCIADESDE          920
TIPOSBENS                920
IDADE                    920
OUTROSPLANOSPGTO         920
RESIDENCIA               920
CREDITOSEXISTENTES       920
EMPREGO                  920
DEPENDENTES              920
TRABAESTRANGEIRO         920
CLASSE                   920
dtype: int64